.button{
    -fx-background-color: rgb(215, 222, 230);
    -fx-text-fill: #000000
}
.button:hover{
    -fx-background-color: rgb(190,190,215);
    -fx-text-fill: #000000;
}
.button:pressed{
    -fx-background-color: rgb(2,51,219);
    -fx-text-fill: #ffffff;
}
.choiceBox{
    -fx-background-color: rgb(215,222,230);
    -fx-control-inner-background: rgb(190,190,215);
    -fx-mark-color: #000000;
    -fx-text-fill: #ffffff;
}
.choiceBox .label{
    -fx-text-fill: #000000;
}
.choiceBox:hover{
    -fx-background-color:  rgb(190,190,215);
    -fx-text-fill: #ffffff;
}
.choiceBox .list-cell{
    -fx-text-fill: #ffffff;
}
.tab{
    -fx-background-color: rgb(16,20,126);
    -fx-text-fill: #ffffff;
}